@import "../vars.css";

.Header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--color-bg);
    justify-content: space-between;
    margin: 0;
    gap: 1rem;
    width: 100%;
}

.HeaderTitle {
    margin-right: auto;
    font-size: var(--font-title-size);
    color: var(--color-text);
    font-weight: 700;
}

.MenuButton {
    margin-left: 25%;
    margin-top: 7%;
    max-width: 85%;
    height: auto;
}

.MenuItems {
    display: flex;
    gap: 47px;
    list-style: none;
    justify-content: space-evenly;
    padding-right: 2rem;
}

.MenuItems a {
    font-size: var(--font-size);
    color: var(--color-text);
    text-decoration: none;
}

.MenuItems a:hover {
    font-size: var(--font-size);
    color: var(--color-hover-text);
    text-decoration: underline;
}